bleach==2.1.1
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.6
django-cors-headers==2.1.0
django-environ==0.4.4
djangorestframework==3.7.1
googletrans==2.2.0
html5lib==1.0b10
idna==2.6
langdetect==1.0.7
mtranslate==1.6
psycopg2==2.7.3.2
pytz==2017.2
requests==2.18.4
six==1.11.0
translate==2.0.0
urllib3==1.22
webencodings==0.5.1
